body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../loggedInHome_files/Placeholder_for_App_Content_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:78px;
    top:10px;
    width:165px;
    height:135px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:135px;
}

.u3 {
    position:absolute;
    left:2px;
    top:60px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:85px;
    top:116px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../loggedInHome_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:52px;
    top:155px;
    width:68px;
    height:75px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:75px;
}

.u6 {
    position:absolute;
    left:2px;
    top:30px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:36px;
    top:230px;
    width:100px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:20px;
    top:400px;
    width:227px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:257px;
    top:402px;
    width:43px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:106px;
    top:455px;
    width:108px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:60px;
    top:495px;
    width:200px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_normal {
    background-image: url('../loggedInHome_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:180px;
    top:155px;
    width:98px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:80px;
}

.u13 {
    position:absolute;
    left:2px;
    top:32px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:180px;
    top:240px;
    width:100px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../loggedInHome_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:29px;
    top:270px;
    width:114px;
    height:70px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:70px;
}

.u16 {
    position:absolute;
    left:2px;
    top:27px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:26px;
    top:350px;
    width:121px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../loggedInHome_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:190px;
    top:270px;
    width:80px;
    height:70px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:70px;
}

.u19 {
    position:absolute;
    left:2px;
    top:27px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:159px;
    top:350px;
    width:121px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:70px;
    top:240px;
    width:201px;
    height:83px;
    overflow:hidden;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:83px;
    
}

.u22_normal {
    background-image: url('../loggedInHome_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:80px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:86px;
}

.u23 {
    position:absolute;
    left:2px;
    top:25px;
    width:196px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

