body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Login_files/Placeholder_for_App_Content_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:44px;
    top:125px;
    width:233px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u3 {
    position:absolute;
    left:44px;
    top:193px;
    width:233px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u4 {
    position:absolute;
    left:44px;
    top:60px;
    width:233px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u5_container {
    position:absolute;
    left:56px;
    top:63px;
    width:38px;
    height:37px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:37px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:104px;
    top:74px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Login_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:56px;
    top:129px;
    width:38px;
    height:36px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:104px;
    top:139px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:56px;
    top:197px;
    width:33px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:104px;
    top:207px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:44px;
    top:258px;
    width:233px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u15_container {
    position:absolute;
    left:56px;
    top:262px;
    width:33px;
    height:32px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:32px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:104px;
    top:272px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:96px;
    top:340px;
    width:128px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:70px;
    top:389px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:70px;
    top:438px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:110px;
    top:480px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_container {
    position:absolute;
    left:96px;
    top:0px;
    width:134px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:60px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

