body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../eventPubView_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../eventPubView_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:-299px;
    top:-2px;
    width:829px;
    height:550px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:829px;
    height:550px;
}

.u3 {
    position:absolute;
    left:2px;
    top:267px;
    width:825px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:58px;
    top:12px;
    width:205px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:50px;
    top:55px;
    width:220px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:58px;
    top:160px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../eventPubView_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:142px;
    top:189px;
    width:43px;
    height:62px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:62px;
}

.u8 {
    position:absolute;
    left:2px;
    top:23px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../eventPubView_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:223px;
    top:189px;
    width:55px;
    height:59px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:59px;
}

.u10 {
    position:absolute;
    left:2px;
    top:22px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../eventPubView_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:45px;
    top:188px;
    width:60px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:32px;
    top:258px;
    width:85px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:136px;
    top:261px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:222px;
    top:258px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:45px;
    top:320px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_normal {
    background-image: url('../eventPubView_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:225px;
    top:320px;
    width:65px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../eventPubView_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:100px;
    top:442px;
    width:100px;
    height:41px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:47px;
}

.u20 {
    position:absolute;
    left:2px;
    top:0px;
    width:96px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../eventPubView_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:210px;
    top:440px;
    width:100px;
    height:43px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:49px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../eventPubView_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:10px;
    top:442px;
    width:80px;
    height:42px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:48px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:50px;
    top:355px;
    width:214px;
    height:66px;
    overflow:hidden;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:66px;
    
}

.u26_normal {
    background-image: url('../eventPubView_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:0px;
    width:200px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u28 {
    position:absolute;
    left:50px;
    top:355px;
    width:214px;
    height:66px;
    overflow:hidden;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:66px;
    
}

.u29_normal {
    background-image: url('../eventPubView_files/u26_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:0px;
    width:200px;
    height:60px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:66px;
}

.u30 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:172px;
    top:533px;
    width:148px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

