body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../relevantActivities_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:76px;
    top:25px;
    width:172px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:41px;
    top:80px;
    width:242px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:194px;
    top:533px;
    width:126px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../relevantActivities_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:17px;
    top:150px;
    width:283px;
    height:110px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:116px;
}

.u6 {
    position:absolute;
    left:2px;
    top:47px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:30px;
    top:159px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:30px;
    top:182px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:30px;
    top:212px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../relevantActivities_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:190px;
    top:159px;
    width:107px;
    height:75px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:75px;
}

.u11 {
    position:absolute;
    left:2px;
    top:30px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:60px;
    top:237px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../relevantActivities_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:17px;
    top:270px;
    width:283px;
    height:110px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:116px;
}

.u14 {
    position:absolute;
    left:2px;
    top:47px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../relevantActivities_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:30px;
    top:291px;
    width:88px;
    height:68px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:68px;
}

.u16 {
    position:absolute;
    left:2px;
    top:26px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:133px;
    top:284px;
    width:167px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:133px;
    top:324px;
    width:164px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:133px;
    top:341px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:116px;
    top:356px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../relevantActivities_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:10px;
    top:500px;
    width:70px;
    height:38px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:44px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:66px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:283px;
    top:112px;
    width:284px;
    height:111px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:284px;
    height:111px;
    
}

.u24_normal {
    background-image: url('../relevantActivities_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:110px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:116px;
}

.u25 {
    position:absolute;
    left:2px;
    top:47px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:128px;
    top:57px;
    width:134px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:11px;
    top:90px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../relevantActivities_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:11px;
    top:15px;
    width:107px;
    height:75px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:75px;
}

.u29 {
    position:absolute;
    left:2px;
    top:30px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../relevantActivities_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:128px;
    top:20px;
    width:65px;
    height:27px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:203px;
    top:20px;
    width:70px;
    height:27px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u34 {
    position:absolute;
    left:17px;
    top:270px;
    width:284px;
    height:111px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:284px;
    height:111px;
    
}

.u35_normal {
    background-image: url('../relevantActivities_files/u24_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:110px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:116px;
}

.u36 {
    position:absolute;
    left:2px;
    top:47px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:42px;
    width:134px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:150px;
    top:86px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../relevantActivities_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:160px;
    top:18px;
    width:88px;
    height:68px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:68px;
}

.u40 {
    position:absolute;
    left:2px;
    top:26px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../relevantActivities_files/u30_normal.png');
}

.u41_container {
    position:absolute;
    left:85px;
    top:15px;
    width:65px;
    height:27px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u43_container {
    position:absolute;
    left:5px;
    top:15px;
    width:70px;
    height:27px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:17px;
    top:390px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u46_normal {
    background-image: url('../relevantActivities_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u47 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:121px;
    top:36px;
    width:134px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:11px;
    top:80px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../relevantActivities_files/u30_normal.png');
}

.u50_container {
    position:absolute;
    left:110px;
    top:9px;
    width:65px;
    height:27px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u52_container {
    position:absolute;
    left:185px;
    top:9px;
    width:70px;
    height:27px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../relevantActivities_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:30px;
    top:8px;
    width:50px;
    height:72px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:72px;
}

.u55 {
    position:absolute;
    left:2px;
    top:28px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../relevantActivities_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:26px;
    top:233px;
    width:24px;
    height:23px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:29px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../relevantActivities_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:28px;
    top:235px;
    width:20px;
    height:19px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:25px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../relevantActivities_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:31px;
    top:243px;
    width:13px;
    height:3px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:9px;
}

.u61 {
    position:absolute;
    left:2px;
    top:-6px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../relevantActivities_files/u56_normal.png');
}

.u62_container {
    position:absolute;
    left:270px;
    top:356px;
    width:24px;
    height:23px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:29px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../relevantActivities_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:272px;
    top:358px;
    width:20px;
    height:19px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:25px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../relevantActivities_files/u60_normal.png');
}

.u66_container {
    position:absolute;
    left:275px;
    top:366px;
    width:13px;
    height:3px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:9px;
}

.u67 {
    position:absolute;
    left:2px;
    top:-6px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:67px;
    top:438px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u69_normal {
    background-image: url('../relevantActivities_files/u46_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u70 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:128px;
    top:43px;
    width:134px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:11px;
    top:80px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../relevantActivities_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:11px;
    top:17px;
    width:94px;
    height:63px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:63px;
}

.u74 {
    position:absolute;
    left:2px;
    top:24px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../relevantActivities_files/u30_normal.png');
}

.u75_container {
    position:absolute;
    left:115px;
    top:16px;
    width:65px;
    height:27px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u77_container {
    position:absolute;
    left:195px;
    top:16px;
    width:70px;
    height:27px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u78 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u79 {
    position:absolute;
    left:102px;
    top:490px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u79 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u80_normal {
    background-image: url('../relevantActivities_files/u46_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u81 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../relevantActivities_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:210px;
    top:7px;
    width:50px;
    height:73px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:73px;
}

.u83 {
    position:absolute;
    left:2px;
    top:28px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:5px;
    top:6px;
    width:167px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:5px;
    top:32px;
    width:164px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:5px;
    top:62px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:33px;
    top:80px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../relevantActivities_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:5px;
    top:76px;
    width:24px;
    height:18px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:24px;
}

.u89 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../relevantActivities_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:7px;
    top:78px;
    width:20px;
    height:15px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:21px;
}

.u91 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../relevantActivities_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:10px;
    top:84px;
    width:13px;
    height:2px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:8px;
}

.u93 {
    position:absolute;
    left:2px;
    top:-7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u94 {
    position:absolute;
    left:238px;
    top:341px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u94 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u95_normal {
    background-image: url('../relevantActivities_files/u46_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u96 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../relevantActivities_files/u73_normal.png');
}

.u97_container {
    position:absolute;
    left:182px;
    top:16px;
    width:94px;
    height:63px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:63px;
}

.u98 {
    position:absolute;
    left:2px;
    top:24px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:4px;
    top:6px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:4px;
    top:32px;
    width:164px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:4px;
    top:62px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:32px;
    top:80px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../relevantActivities_files/u88_normal.png');
}

.u103_container {
    position:absolute;
    left:4px;
    top:76px;
    width:24px;
    height:18px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:24px;
}

.u104 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../relevantActivities_files/u90_normal.png');
}

.u105_container {
    position:absolute;
    left:6px;
    top:78px;
    width:20px;
    height:15px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:21px;
}

.u106 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../relevantActivities_files/u92_normal.png');
}

.u107_container {
    position:absolute;
    left:10px;
    top:84px;
    width:13px;
    height:2px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:8px;
}

.u108 {
    position:absolute;
    left:2px;
    top:-7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

