body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../relevantActivities_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../relevantActivities_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:-132px;
    top:0px;
    width:550px;
    height:550px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:550px;
    height:550px;
}

.u3 {
    position:absolute;
    left:2px;
    top:267px;
    width:546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:76px;
    top:25px;
    width:172px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:41px;
    top:80px;
    width:242px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:194px;
    top:533px;
    width:126px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../relevantActivities_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:17px;
    top:150px;
    width:283px;
    height:110px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:116px;
}

.u8 {
    position:absolute;
    left:2px;
    top:47px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:30px;
    top:159px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:30px;
    top:182px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:30px;
    top:212px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../relevantActivities_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:190px;
    top:167px;
    width:107px;
    height:75px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:75px;
}

.u13 {
    position:absolute;
    left:2px;
    top:30px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:30px;
    top:237px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../relevantActivities_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:17px;
    top:270px;
    width:283px;
    height:110px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:116px;
}

.u16 {
    position:absolute;
    left:2px;
    top:47px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../relevantActivities_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:30px;
    top:291px;
    width:88px;
    height:68px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:68px;
}

.u18 {
    position:absolute;
    left:2px;
    top:26px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:133px;
    top:284px;
    width:167px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:133px;
    top:324px;
    width:164px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:133px;
    top:341px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:133px;
    top:356px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../relevantActivities_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:18px;
    top:390px;
    width:280px;
    height:100px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:106px;
}

.u24 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../relevantActivities_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:200px;
    top:406px;
    width:94px;
    height:63px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:63px;
}

.u26 {
    position:absolute;
    left:2px;
    top:24px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:23px;
    top:396px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:23px;
    top:421px;
    width:164px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:23px;
    top:454px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:23px;
    top:468px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../relevantActivities_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:10px;
    top:500px;
    width:70px;
    height:38px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:44px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:66px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

