body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../relevantActivities_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../relevantActivities_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:-132px;
    top:0px;
    width:550px;
    height:550px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:550px;
    height:550px;
}

.u3 {
    position:absolute;
    left:2px;
    top:267px;
    width:546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:76px;
    top:25px;
    width:172px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:41px;
    top:80px;
    width:242px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:194px;
    top:533px;
    width:126px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../relevantActivities_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:17px;
    top:150px;
    width:283px;
    height:110px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:116px;
}

.u8 {
    position:absolute;
    left:2px;
    top:47px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:30px;
    top:159px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:30px;
    top:182px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:30px;
    top:212px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../relevantActivities_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:190px;
    top:159px;
    width:107px;
    height:75px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:75px;
}

.u13 {
    position:absolute;
    left:2px;
    top:30px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:60px;
    top:237px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../relevantActivities_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:17px;
    top:270px;
    width:283px;
    height:110px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:289px;
    height:116px;
}

.u16 {
    position:absolute;
    left:2px;
    top:47px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../relevantActivities_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:30px;
    top:291px;
    width:88px;
    height:68px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:68px;
}

.u18 {
    position:absolute;
    left:2px;
    top:26px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:133px;
    top:284px;
    width:167px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:133px;
    top:324px;
    width:164px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:133px;
    top:341px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:116px;
    top:356px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../relevantActivities_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:10px;
    top:500px;
    width:70px;
    height:38px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:44px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:66px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:20px;
    top:57px;
    width:284px;
    height:111px;
    overflow:hidden;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:284px;
    height:111px;
    
}

.u26_normal {
    background-image: url('../relevantActivities_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:110px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:116px;
}

.u27 {
    position:absolute;
    left:2px;
    top:47px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:128px;
    top:57px;
    width:134px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:11px;
    top:90px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../relevantActivities_files/u12_normal.png');
}

.u30_container {
    position:absolute;
    left:11px;
    top:15px;
    width:107px;
    height:75px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:75px;
}

.u31 {
    position:absolute;
    left:2px;
    top:30px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:128px;
    top:20px;
    width:65px;
    height:27px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../relevantActivities_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:203px;
    top:20px;
    width:70px;
    height:27px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u36 {
    position:absolute;
    left:17px;
    top:222px;
    width:284px;
    height:111px;
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:284px;
    height:111px;
    
}

.u37_normal {
    background-image: url('../relevantActivities_files/u26_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:110px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:116px;
}

.u38 {
    position:absolute;
    left:2px;
    top:47px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:16px;
    top:42px;
    width:134px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:150px;
    top:86px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../relevantActivities_files/u17_normal.png');
}

.u41_container {
    position:absolute;
    left:160px;
    top:18px;
    width:88px;
    height:68px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:68px;
}

.u42 {
    position:absolute;
    left:2px;
    top:26px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u43_container {
    position:absolute;
    left:85px;
    top:15px;
    width:65px;
    height:27px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../relevantActivities_files/u34_normal.png');
}

.u45_container {
    position:absolute;
    left:5px;
    top:15px;
    width:70px;
    height:27px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:17px;
    top:390px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u48_normal {
    background-image: url('../relevantActivities_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u49 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:121px;
    top:36px;
    width:134px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:11px;
    top:80px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u52_container {
    position:absolute;
    left:110px;
    top:9px;
    width:65px;
    height:27px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../relevantActivities_files/u34_normal.png');
}

.u54_container {
    position:absolute;
    left:185px;
    top:9px;
    width:70px;
    height:27px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u55 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../relevantActivities_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:30px;
    top:8px;
    width:50px;
    height:72px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:72px;
}

.u57 {
    position:absolute;
    left:2px;
    top:28px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../relevantActivities_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:26px;
    top:233px;
    width:24px;
    height:23px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:29px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../relevantActivities_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:28px;
    top:235px;
    width:20px;
    height:19px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:25px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../relevantActivities_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:31px;
    top:243px;
    width:13px;
    height:3px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:9px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-6px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../relevantActivities_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:270px;
    top:356px;
    width:24px;
    height:23px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:29px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../relevantActivities_files/u60_normal.png');
}

.u66_container {
    position:absolute;
    left:272px;
    top:358px;
    width:20px;
    height:19px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:25px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../relevantActivities_files/u62_normal.png');
}

.u68_container {
    position:absolute;
    left:275px;
    top:366px;
    width:13px;
    height:3px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:9px;
}

.u69 {
    position:absolute;
    left:2px;
    top:-6px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u70 {
    position:absolute;
    left:17px;
    top:390px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u71_normal {
    background-image: url('../relevantActivities_files/u48_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u72 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:128px;
    top:43px;
    width:134px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:11px;
    top:80px;
    width:107px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../relevantActivities_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:11px;
    top:17px;
    width:94px;
    height:63px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:63px;
}

.u76 {
    position:absolute;
    left:2px;
    top:24px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../relevantActivities_files/u32_normal.png');
}

.u77_container {
    position:absolute;
    left:115px;
    top:16px;
    width:65px;
    height:27px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:33px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../relevantActivities_files/u34_normal.png');
}

.u79_container {
    position:absolute;
    left:195px;
    top:16px;
    width:70px;
    height:27px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:33px;
}

.u80 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u81 {
    position:absolute;
    left:17px;
    top:390px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u81 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u82_normal {
    background-image: url('../relevantActivities_files/u48_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u83 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../relevantActivities_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:210px;
    top:7px;
    width:50px;
    height:73px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:73px;
}

.u85 {
    position:absolute;
    left:2px;
    top:28px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:5px;
    top:6px;
    width:167px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:5px;
    top:32px;
    width:164px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:5px;
    top:62px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:33px;
    top:80px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../relevantActivities_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:5px;
    top:76px;
    width:24px;
    height:18px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:24px;
}

.u91 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../relevantActivities_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:7px;
    top:78px;
    width:20px;
    height:15px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:21px;
}

.u93 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../relevantActivities_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:10px;
    top:84px;
    width:13px;
    height:2px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:8px;
}

.u95 {
    position:absolute;
    left:2px;
    top:-7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:17px;
    top:390px;
    width:283px;
    height:101px;
    overflow:hidden;
}

#pd0u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:101px;
    
}

.u97_normal {
    background-image: url('../relevantActivities_files/u48_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:101px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:107px;
}

.u98 {
    position:absolute;
    left:2px;
    top:42px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../relevantActivities_files/u75_normal.png');
}

.u99_container {
    position:absolute;
    left:182px;
    top:16px;
    width:94px;
    height:63px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:63px;
}

.u100 {
    position:absolute;
    left:2px;
    top:24px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:4px;
    top:6px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:4px;
    top:32px;
    width:164px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:4px;
    top:62px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:32px;
    top:80px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../relevantActivities_files/u90_normal.png');
}

.u105_container {
    position:absolute;
    left:4px;
    top:76px;
    width:24px;
    height:18px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:24px;
}

.u106 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../relevantActivities_files/u92_normal.png');
}

.u107_container {
    position:absolute;
    left:6px;
    top:78px;
    width:20px;
    height:15px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:21px;
}

.u108 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../relevantActivities_files/u94_normal.png');
}

.u109_container {
    position:absolute;
    left:10px;
    top:84px;
    width:13px;
    height:2px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:8px;
}

.u110 {
    position:absolute;
    left:2px;
    top:-7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

