body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../oAuth_files/Placeholder_for_App_Content_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:80px;
    top:3px;
    width:150px;
    height:106px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:45px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../oAuth_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:65px;
    top:90px;
    width:180px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:25px;
    width:176px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_container {
    position:absolute;
    left:24px;
    top:160px;
    width:62px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:60px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_container {
    position:absolute;
    left:24px;
    top:240px;
    width:62px;
    height:67px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:67px;
}

.u9 {
    position:absolute;
    left:2px;
    top:26px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:96px;
    top:160px;
    width:193px;
    height:70px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:96px;
    top:240px;
    width:193px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:40px;
    top:415px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:170px;
    top:415px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:96px;
    top:306px;
    width:193px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:24px;
    top:307px;
    width:56px;
    height:63px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:63px;
}

.u16 {
    position:absolute;
    left:2px;
    top:24px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

