body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../loginExtend_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:70px;
    top:160px;
    width:179px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u3 {
    position:absolute;
    left:74px;
    top:247px;
    width:176px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u4_normal {
    background-image: url('../loginExtend_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:82px;
    top:168px;
    width:24px;
    height:26px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:116px;
    top:174px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_container {
    position:absolute;
    left:80px;
    top:257px;
    width:33px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:25px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:120px;
    top:261px;
    width:129px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:74px;
    top:327px;
    width:176px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u11_container {
    position:absolute;
    left:78px;
    top:336px;
    width:26px;
    height:24px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:24px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:114px;
    top:342px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../loginExtend_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:490px;
    width:80px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:76px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:36px;
    top:60px;
    width:248px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../loginExtend_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:74px;
    top:390px;
    width:180px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:172px;
    top:533px;
    width:148px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

