body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../invitePeople_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../invitePeople_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:-299px;
    top:-2px;
    width:829px;
    height:550px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:829px;
    height:550px;
}

.u3 {
    position:absolute;
    left:2px;
    top:267px;
    width:825px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:45px;
    top:50px;
    width:240px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../invitePeople_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:31px;
    top:270px;
    width:45px;
    height:73px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:73px;
}

.u6 {
    position:absolute;
    left:2px;
    top:28px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../invitePeople_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:130px;
    top:270px;
    width:52px;
    height:69px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:69px;
}

.u8 {
    position:absolute;
    left:2px;
    top:26px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../invitePeople_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:217px;
    top:280px;
    width:60px;
    height:68px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:68px;
}

.u10 {
    position:absolute;
    left:2px;
    top:26px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../invitePeople_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:106px;
    top:430px;
    width:16px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../invitePeople_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:134px;
    top:430px;
    width:16px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../invitePeople_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:163px;
    top:430px;
    width:16px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../invitePeople_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:295px;
    top:280px;
    width:15px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../invitePeople_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:288px;
    top:280px;
    width:15px;
    height:25px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:31px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../invitePeople_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:67px;
    top:223px;
    width:19px;
    height:15px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:21px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../invitePeople_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:172px;
    top:223px;
    width:15px;
    height:13px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:19px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-2px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../invitePeople_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:266px;
    top:223px;
    width:15px;
    height:13px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:19px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-2px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../invitePeople_files/u33_normal.png');
}

.u39_container {
    position:absolute;
    left:57px;
    top:353px;
    width:19px;
    height:15px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:21px;
}

.u40 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../invitePeople_files/u35_normal.png');
}

.u41_container {
    position:absolute;
    left:167px;
    top:354px;
    width:15px;
    height:13px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:19px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-2px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../invitePeople_files/u33_normal.png');
}

.u43_container {
    position:absolute;
    left:258px;
    top:358px;
    width:19px;
    height:15px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:21px;
}

.u44 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../invitePeople_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:163px;
    top:470px;
    width:107px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_container {
    position:absolute;
    left:19px;
    top:223px;
    width:19px;
    height:15px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:15px;
}

.u48 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_container {
    position:absolute;
    left:9px;
    top:355px;
    width:19px;
    height:15px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:15px;
}

.u50 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_container {
    position:absolute;
    left:109px;
    top:355px;
    width:19px;
    height:15px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:15px;
}

.u52 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:211px;
    top:223px;
    width:19px;
    height:15px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:15px;
}

.u54 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../invitePeople_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:31px;
    top:146px;
    width:45px;
    height:67px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:67px;
}

.u56 {
    position:absolute;
    left:2px;
    top:26px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../invitePeople_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:130px;
    top:150px;
    width:49px;
    height:63px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:63px;
}

.u58 {
    position:absolute;
    left:2px;
    top:24px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../invitePeople_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:220px;
    top:150px;
    width:55px;
    height:63px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:63px;
}

.u60 {
    position:absolute;
    left:2px;
    top:24px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:172px;
    top:533px;
    width:148px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../invitePeople_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:22px;
    top:470px;
    width:100px;
    height:40px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u63 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

