body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../soccerPubView_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:548px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:554px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../soccerPubView_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:-299px;
    top:-2px;
    width:829px;
    height:550px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:829px;
    height:550px;
}

.u3 {
    position:absolute;
    left:2px;
    top:267px;
    width:825px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:58px;
    top:12px;
    width:205px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:58px;
    top:160px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:28px;
    top:256px;
    width:85px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:132px;
    top:259px;
    width:63px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:218px;
    top:256px;
    width:55px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:45px;
    top:320px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../soccerPubView_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:225px;
    top:320px;
    width:65px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../soccerPubView_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:100px;
    top:442px;
    width:100px;
    height:41px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:47px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:96px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../soccerPubView_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:210px;
    top:440px;
    width:100px;
    height:43px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:49px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../soccerPubView_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:442px;
    width:80px;
    height:42px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:48px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:50px;
    top:355px;
    width:214px;
    height:66px;
    overflow:hidden;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:66px;
    
}

.u19_normal {
    background-image: url('../soccerPubView_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:10px;
    top:0px;
    width:200px;
    height:60px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:66px;
}

.u20 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:50px;
    top:355px;
    width:214px;
    height:66px;
    overflow:hidden;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:66px;
    
}

.u22_normal {
    background-image: url('../soccerPubView_files/u19_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:0px;
    width:200px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:172px;
    top:533px;
    width:148px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:61px;
    top:60px;
    width:205px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../soccerPubView_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:36px;
    top:188px;
    width:58px;
    height:68px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:68px;
}

.u27 {
    position:absolute;
    left:2px;
    top:26px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../soccerPubView_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:136px;
    top:188px;
    width:59px;
    height:68px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:68px;
}

.u29 {
    position:absolute;
    left:2px;
    top:26px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../soccerPubView_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:216px;
    top:194px;
    width:56px;
    height:62px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:62px;
}

.u31 {
    position:absolute;
    left:2px;
    top:23px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../soccerPubView_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:120px;
    top:291px;
    width:16px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../soccerPubView_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:148px;
    top:291px;
    width:16px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../soccerPubView_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:177px;
    top:291px;
    width:16px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../soccerPubView_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:288px;
    top:212px;
    width:15px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

